ENVIRONMENT="development" # development | production

URL="localhost:3100" 
POSTGRES_URL=""

SUPABASE_API_URL="https://<supabase-identifier>.supabase.co"
SUPABASE_API_KEY=""
SUPABASE_SECRET=""

STRIPE_RETURN_URL="http://localhost:3000/settings?useCache=false"
STRIPE_ERROR_RETURN_URL="http://localhost:3000/pricing/error"
STRIPE_KEY=""
STRIPE_WEBHOOK_SECRET=""

RESEND_API_KEY=""
